* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* navbar */
.navbar {
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  transition: 0.5s;
}

.navbar-links {
  display: flex;
  align-items: center;
}
.link-item {
  margin-left: 25px;
  text-transform: uppercase;
}

.link {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #ffff;

  position: relative;
  padding: 0 10px;
}

.link::after {
  content: "";
  position: absolute;
  background-color: #eeb831;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.link:hover {
  color: #e7dede;
}
.link:hover::after {
  width: 100%;
}

.header-user {
  display: flex;
  position: absolute;
  top: 50%;
  right: 10px;
  padding-right: 75px;
  transform: translateY(-50%);
}

.header-user img {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.cart-item-count {
  font-family: sans-serif;
  color: #eeb831;
  padding: 5px;
  font-size: 15px;
  position: absolute;
  background: #000;
  border-radius: 50%;
  bottom: 14px;
  left: -20px;
}

/* header */
.header-section {
  width: 100%;
  height: 100vh;
  background-image: url(/images/img-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-overlay {
  color: #ffff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 5.4rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.header-title span {
  color: #eeb831;
}

/* section producto */
.section-product-title {
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-evenly;
}

.product-card {
  /* border: 4px solid #eeb831; */
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.product-name {
  position: absolute;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 25px;
  bottom: 25px;
  width: 100%;
  /* transform: translateY(-50%); */
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.product-card:hover .product-name {
  opacity: 1;
}

.product-name img {
  display: inline-block;
  position: absolute;
  bottom: 1px;
  margin-left: 2px;
}

.product-card:hover .product-img {
  opacity: 0.5;
}

/*Background-images*/
#Background-images {
  width: 100%;
  height: 600px;
  background: beige;
  margin: 30px 0 45px 0;
  background-image: url(/images/img10.jpeg);
  background-size: cover;
  background-position: center;

  position: relative;
}

.glass {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

.glass h2 {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

.glass-img {
  position: relative;
}
.glass-img img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.glass-img img:nth-child(2) {
  top: 170px;
  left: 190px;
  width: 400px;
  height: 250px;
  margin-bottom: 20px;
}

.glass-img img:hover {
  transform: translateY(-10px);
}

/* review-section */

.review-title {
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.review-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
}

#review-section img {
  width: 140px;
  height: 140px;
}

.review-card {
  width: 290px;
  height: auto;
  /* background-color: lightblue; */
  text-align: center;
  padding: 5px;
  position: relative;
  /* background-color: #9a9ac3; */
}

.review-card .card-img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.4s;
  opacity: 1;
}
.review-card .card-img:hover {
  opacity: 0.8;
}

.user-dp::after {
  content: attr(data-rating);
  position: absolute;
  top: 90px;
  right: 28px;
  padding: 5px 20px;
  border-radius: 20px;
  background: #d5be8e;
}

.card-title {
  margin: 30px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
}

.review-text,
.card-title {
  text-align: left;
  opacity: 0.7;
}
