* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* navbar */
.navbar {
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  transition: 0.5s;
}

.navbar-links {
  display: flex;
  align-items: center;
}
.link-item {
  margin-left: 25px;
  text-transform: uppercase;
}

.link {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #ffff;

  position: relative;
  padding: 0 10px;
}

.link::after {
  content: "";
  position: absolute;
  background-color: #eeb831;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.link:hover {
  color: #e7dede;
}
.link:hover::after {
  width: 100%;
}

.header-user {
  display: flex;
  position: absolute;
  top: 50%;
  right: 10px;
  padding-right: 75px;
  transform: translateY(-50%);
}

.header-user img {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.cart-item-count {
  font-family: sans-serif;
  color: #eeb831;
  padding: 5px;
  font-size: 15px;
  position: absolute;
  background: #000;
  border-radius: 50%;
  bottom: 14px;
  left: -20px;
}

/* header */
.header-section {
  width: 100%;
  height: 100vh;
  background-image: url(/images/img-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-overlay {
  color: #ffff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 5.4rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.header-title span {
  color: #eeb831;
}

/* section producto */
.section-product-title {
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-evenly;
}

.product-card {
  /* border: 4px solid #eeb831; */
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  background-color: #eeb831;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-name {
  position: absolute;
  color: white;
  text-transform: capitalize;
  font-size: 25px;
  bottom: 25px;
  left: 50%;

  transform: translateY(-50%);
  opacity: 0;
  transition: 2s;
}

.product-card:hover .product-name {
  opacity: 1;
}
